* {
    font-family: 'Work Sans', sans-serif;
    ;
  }
  
  h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 85px;
  }
  
  h2 {
    font-family: 'Playfair Display', serif;
  }

    .jumbotron{
        height: 500px;
        background-image: url("https://images.pexels.com/photos/1549180/pexels-photo-1549180.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
